entrypoint = "main.dart"
modules = ["dart-3.3", "flutter-3.24.5"]

[nix]
channel="stable-24_05"
packages = ["flutter", "jdk17", "android-tools", "chromium"]

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flutter App"

[[workflows.workflow]]
name = "Flutter App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run -d web-server --web-port=5000 --web-hostname=0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34013
externalPort = 3001

[[ports]]
localPort = 36379
externalPort = 3000
