entrypoint = "main.dart"
modules = ["dart-3.3", "flutter-3.24.5", "python-3.11"]

[nix]
channel="stable-24_05"
packages = ["flutter", "jdk17", "android-tools", "chromium"]

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Documentation Server"

[[workflows.workflow]]
name = "Documentation Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34599
externalPort = 3001

[[ports]]
localPort = 36379
externalPort = 3000
